{% extends 'rental_store/main.html' %}
{% block content %}
    <section class="about-us">
        <br>
        <br>
        <h1>About Us</h1>
        <br>

        <h5>Welcome to our Car Rental App, your reliable and affordable car rental solution. Our mission is to provide
            our customers with a hassle-free and enjoyable car rental experience. We pride ourselves on offering a wide
            selection of vehicles at competitive prices.</h5>
        <br>
        <h5>Our team of experienced professionals is committed to providing exceptional customer service. We are always
            available to answer any questions or concerns you may have and are dedicated to making sure you are
            completely satisfied with your rental experience.</h5>
        <br>
        <h5>At Car Rental App, we understand that your time is valuable. That's why we make it easy to reserve your
            rental car online or through our website. With our convenient options, you can quickly get on the road and
            start exploring your destination.</h5>
        <br>
        <h5>Thank you for choosing Car Rental App. We look forward to serving you and making your next car rental
            experience a great one!</h5>

    </section>
    <br>
    <footer>
        <p>&copy; 2023 Car Rental App</p>
    </footer>



{% endblock content %}